body{
    width: 800px;
    background: #bd001f url('..images/body_bg.gif') repeat-x top;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    color: #333;
    margin: 50px 0px;
}